---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import responzivita from "../../images/damejidlo-partner-web.png";
const iconName = "wordpress";
---

	<div class="contentContainer">
		<Image src={responzivita} alt="Partner" width="200" loading="lazy" />
		<div class="subContainer">
			<h2 class="podNadpis">
				Dobře aktualizovaný web je důležitý ve světě, který je neustále <span
					class="fialova">online</span
				>
			</h2>
			<ul class="detailsList">
				<li>
          <i>IKONA</i>
					<span class="defaultText">
						Průměrné rozpětí pozornosti uživatele se snížilo z 12 na 8 sekund
					</span>
				</li>
				<li>
					<i>IKONA</i>
					<span class="defaultText">
						Dvě třetiny využití webu tvoří mobilní zařízení
					</span>
				</li>
				<li>
					<i>IKONA</i>
					<span class="defaultText">
						Seznamy jsou lepší než velké odstavce
					</span>
				</li>
				<li>
					<i>IKONA</i>
					<span class="defaultText">
						K vytvoření názoru o stránkách je zapotřebí pouze 0,5 sekundy
					</span>
				</li>
				<li>
					<i>IKONA</i>
					<span class="defaultText">
						Kontaktní údaje společnosti jsou důležité pro 44% návštěvníků
						webových stránek
					</span>
				</li>
			</ul>
		</div>
	</div>
