---
const currentYear = new Date().getFullYear();
---
<style>
	.footerContainer {
		text-align: center;
		background-color: black;
		color: white;
		padding: 1rem;
		width: 100%;
	}
</style>
<footer class="footerContainer">
	<p>© {currentYear}</p>
</footer>
