---
const currentYear = new Date().getFullYear();
import "../styles/global.css";
import "../styles/footer.css";
---
<script>
	import "../scripts/menu.js";
</script>
<footer class="footerContainer">
	<p>© {currentYear}</p>
</footer>
