---
import Navigation from "./Navigation.astro";
---
<style>
	.navbar {
		position: fixed;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		max-width: 1140px;
		margin: 1rem auto;
		z-index: 99;

		transition:
			transform 260ms ease,
			margin 260ms ease;
	}
</style>
<header>
	<nav class="navbar" id="navbar">
		<Navigation />
	</nav>
</header>
