---
import '../styles/navigation.css';
---
<div id="main-menu" class="nav-links">
  <a href="/">Domů</a>
  <a href="/blog/">Portfolio</a>
  <a href="/about/">Služby</a>
  <a href="/about/">Reference</a>
  <a href="/about/">Blog</a>
  <a href="/about/">Kontaktujte mě</a>
</div>
