---
import Image from "astro/components/Image.astro";
import logo from "../../images/nav-logo-tomas-rezabek.png";
import MegaMenu from "./MegaMenu.astro";
---

<style>
	i {
		margin: 0 5px;
	}
	.nav-links {
		display: flex;
		height: 85px;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		background-color: #0b1220;
		border-radius: var(--default-radius);
	}

	.nav-links a {
		font-size: 1.2rem;
		font-weight: 400;
		color: white;
		margin: 0 2rem;
		transition: all 0.25s ease;
	}

	.nav-links a:hover {
		color: var(--fialova);
	}

	.logo {
		position: fixed;
		left: -50px;
		top: -14px;
		transition: all 0.25s ease;
	}

	.logo:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
</style>
<div id="main-menu" class="nav-links">
	<div class="logo">
		<a href="/">
			<Image
				src={logo}
				alt="Moje Logo"
				width="112"
				height="112"
				loading="eager"
				fetchpriority="high"
			/>
		</a>
	</div>
	<a href="/">Domů</a>
	<a href="/#portfolio/">Portfolio</a>
	<MegaMenu />
	<a href="/#reference">Reference</a>
	<a href="/blog/">Blog</a>
	<a href="/kontakt/">Kontaktujte mě</a>
</div>
