---
import Sluzba from "./Sluzba.astro";
---

<style>
	.sluzbyContent {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		gap: 2.8rem;
	}
	.bigger {
		transform: scale(1.1);
	}
	@media only screen and (max-width: 768px) {
		.bigger {
			transform: scale(1.05);
		}
	}
</style>
	<div class="sluzbyContainer">
		<h2 class="podNadpis center">Služby & Ceník</h2>
		<div class="sluzbyContent">
			<Sluzba
				title="Správa služeb"
				cena="od 490 Kč / měsíc"
				iconName="bezpecnost"
				iconSize="24"
				imgAlt="Správa webových stránek"
				content="Úpravy webu zdarma, zálohy, hosting webu, správa domény a e-mailové schránky."
				odkaz="/sprava-webovych-stranek"
			/>
			<div class="bigger">
				<Sluzba
					favorite="Oblíbené"
					title="Tvorba webu"
					cena="od 14 990 Kč"
					iconName="jednoduchost"
					iconSize="24"
					imgAlt="Tvorba webových stránek"
					content="Návrh designu webu a jeho následný vývoj dle zpětné vazby od klienta."
					odkaz="/tvorba-webovych-stranek"
				/>
			</div>
			<Sluzba
				title="Optimalizace"
				cena="od 2 490 Kč"
				iconName="rychlost"
				iconSize="24"
				imgAlt="Správa webových stránek"
				content="Zvýšení rychlosti načítání,zmenšení obrázků, nastavení CDN, SSL a aktualizace."
				odkaz="/optimalizace-webovych-stranek"
			/>
		</div>
	</div>
