---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
		<h1>About me</h1>
    <h2>... and about the new Astro site!</h2>
    <p>I am testing Astro setup with headless WP</p>

    <p>Thanks to autosave in VS code it saves automatically and propagates immediately to the frontend</p>
	</body>
</html>
