---
import BaseLayout from "../layouts/BaseLayout.astro";
import PrehledReferenci from "../pages/components/PrehledReferenci.astro";
---

<BaseLayout />
<div class="container">
	<PrehledReferenci />
</div>
