---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "./components/BlogPost.astro";

import { getCollection } from "astro:content";

const vsechnyPrispevky = await getCollection("blog");

const pageTitle = "Blog";
---

<BaseLayout title={pageTitle} classValue="pageContainer">
	<h1>{pageTitle}</h1>
	<p>Content of all of the posts</p>
	<ul>
		{
			vsechnyPrispevky.map((prispevek) => (
				<BlogPost url={`/blog/${prispevek.id}/`} title={prispevek.data.title} />
			))
		}
	</ul>
</BaseLayout>
