---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "./components/BlogPost.astro";
const vsechnyPrispevky = Object.values(
	import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog";
---

<BaseLayout title={pageTitle} classValue="pageContainer">
	<h1>{pageTitle}</h1>
	<p>Content of all of the posts</p>
	<ul>
		{
			vsechnyPrispevky.map((prispevek: any) => (
				<BlogPost url={prispevek.url} title={prispevek.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
