---
import Hero from "./components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Vyhody from "./components/Vyhody.astro";
const title = "Tvorba webových stránek, které odvedou většinu práce za Vás";
---
<BaseLayout title={title}>
<main>
<Hero title={title} />
<Vyhody />
</main>
</BaseLayout>
