---
import BaseLayout from "../layouts/BaseLayout.astro";

//
const title = "Úspěšně odesláno";
---

<BaseLayout title={title} classValue="pageContainer">
	<h1 class="center">{title}</h1>
</BaseLayout>
