---
import BlogLayout from "../layouts/BlogLayout.astro";

---

<BlogLayout>
    <h2 class="podNadpis">Title</h2>
    <p class="defaultText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eum suscipit necessitatibus vitae, ipsum eius maxime porro deserunt in quos saepe ut tempora. Dolorum aspernatur ipsa cum, deleniti magnam accusamus.</p>
</BlogLayout>