@import url(https://fonts.bunny.net/css?family=inter:100,200,300,400,500,600,700,800,900|space-grotesk:300,400,500,600,700);

:root {
  --default-radius: 32px;
  --modra: #0B1220;
  --bila: #fff;
  --fialova: #8B5CF6;
  --pozadi: #f1f5f9;
}

html, body {
  height: 100vh;
  margin: 0;
}

html {
  background-color: var(--pozadi);
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  line-height: 1.5;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 3.5rem;
}

a,
p,
h2,
h3,
h4,
input,
textarea {
  font-family: 'Inter', sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  width: 100%;
  max-width: 1140px;     
  margin: 8rem auto;
  padding-inline: 1rem;
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1140px;     
  margin: 5rem auto;
  padding-inline: 1rem;
  flex: 1;
}

.pageContainer {
  width: 100%;
  max-width: 1140px;     
  margin: 10rem auto;
  padding-inline: 1rem;
  flex: 1;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  background-color: var(--bila);
  padding: 2rem;
  border-radius: 32px;
}

.subContainer {
  max-width: 720px;
  display: flex;
  flex-direction: column;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;        
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.center {
  text-align: center;
  margin: auto;
}

.podNadpis {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2.5rem 0;
}

.defaultText {
  font-size: 1rem;
  font-weight: 400;
  max-width: 725px;
}

.textContent {
  margin: 5rem auto;
}

.hodnoceniContainer {
  margin: auto;
  display: flex;
  background-color: var(--modra);
  color: var(--bila);
  max-width: 1140px;
  border-radius: 32px;
  padding: 1rem 2rem;
  transform: translateY(-45px);
  font-weight: 400;
}

.hodnoceniContent {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 35px;
}

.hodnoceniGoogle {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  flex-direction: column;
}

path {
  fill: var(--bila);
}

.hodnoceniGoogle p {
   margin: 0;
}

.hodnoceniStars {
  color: gold;
}

.portfolioImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .podNadpis {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}