/* nav styles */
.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1140px;
  margin: 1rem auto;
  z-index: 99;

  transition:
    transform 260ms ease,
    margin 260ms ease;
}

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  display: flex;
  height: 85px;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  background-color: #0B1220;
  border-radius: 32px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  margin:0 2rem;
  transition: all 0.25s ease;
}

.nav-links a:hover {
  transform: scale(1.1);
  font-weight: 600;
}

.logo {
  position: fixed;
  left: -50px;
  top: -14px;
  transition: all 0.25s ease;
}

.logo:hover {
  transform: scale(1.20);
  cursor: pointer;
}
