---
import Image from "astro/components/Image.astro";
import Header from "../pages/components/Header.astro";
import Footer from "../pages/components/Footer.astro";

import '../pages/styles/global.css';

const { title, classValue } = Astro.props;
---

<body>
    <Header />
    <main class={classValue}>
        <slot />
    </main>
    <Footer />
    <script>
        import "../pages/scripts/navbar.js";
    </script>
</body>
</html>