---
import Header from "../pages/components/Header.astro";
import Footer from "../pages/components/Footer.astro";

import '../pages/styles/global.css';

const { title } = Astro.props;
---

<body>
    <Header />
    <slot />
    <Footer />
    <script>
        import "../pages/scripts/menu.js";
    </script>
</body>
</html>