---
import Image from "astro/components/Image.astro";
import Header from "../pages/components/Header.astro";
import Footer from "../pages/components/Footer.astro";

import "../pages/styles/global.css";

const { title, classValue } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
			integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Swiper JS -->
		<script
			src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"
		></script>
		<title>{title}</title>
	</head>
	<body class="page">
		<Header />
		<main class={classValue}>
			<slot />
		</main>
		<Footer />
		<script>
			import "../pages/scripts/navbar.js";
		</script>
	</body>
</html>
